@charset "utf-8";
/* CSS Document */
.herofade {
	opacity: .2;
}
#intro h3 a {
	color: #FF3434;
	font-size: 1.2em;
	display: inline-block;
}
#intro p {
	overflow-x: hidden;
}
#intro h3:hover a {
	margin-top: -2px;
	border-top: 2px solid #FF3434;
	border-bottom: 2px solid #FF3434;
}
#intro a[href*="/blog/tags"] {
	color: #b8b8b8;
	border: 1px solid #b8b8b8;
	padding: 4px 6px;
	border-radius: 4px;
	margin: 0 5px 5px 0;
	-webkit-transition: all ease .4s;
	transition: all ease .4s;
}
#intro a[href*="/blog/tags"]:hover {
	background: #B8B8B8;
	color: #fff;
}